<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
</head>
<body>

<div>
    <h2> Express REST API is up and running - COMP-308 Sample Test M23
        "This project made by Zahra and Bhavitha"
    </h2>

</div>

</body>
</html>
